// Banner
@include Component( 'Banner' )
{
    position: relative;
    height: 360px;
    background: url( '../images/bg.png' ) 50% 0;

    @include Element( 'showcase' )
    {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}