// Console
@include Component( 'Console' )
{
    background: #333;
    padding: 20px;
    font-family: 'Source Code Pro';
    color: white;

    @include Element( 'command' )
    {
        margin-bottom: 10px;

        &:last-child
        {
            margin-bottom: 0;
        }

        &:before {
            content: '$';
            padding-right: 10px;
            color: #ff71B6;
        }
    }
}