// StickyBar
@include Component( 'StickyBar' )
{
    border-bottom: 1px dashed #e2e2e2;

    @include Element( 'header' )
    {
        height: 80px;
    }

    @include Element( 'heading' )
    {
        margin: 0;
        line-height: 80px;
        font-weight: 200;
        font-size: 24px;
    }
}