// ---------------------------------------------------------------------
// Window
// ---------------------------------------------------------------------
// A component mimicking a desktop window in OSX.

// .Window
@include component( 'Window' )
{
    @include modules( 'center' );

    // .Window--small
    @include modifier( 'small' )
    {
        width: get( $layout, 'width.small' );
    }

    // .Window-bar
    @include element( 'bar' )
    {
        height: get( $layout, 'height.small' );
        padding: ( ( get( $layout, 'height.small' ) - get( $layout, 'size.small-circle' ) ) / 2 );
        background: get( $color, 'window.bar' );
        border-top-left-radius: get( $layout, 'border-radius.base' );
        border-top-right-radius: get( $layout, 'border-radius.base' );
    }

    // .Window-button
    @include element( 'button' )
    {
        float: left;
        height: get( $layout, 'size.small-circle' );
        width: get( $layout, 'size.small-circle' );
        margin-right: ( get( $layout, 'spacing.base' ) / 2 );
        border-radius: 50%;

        // .Window-button--close
        @include modifier( 'close' )
        {
            background: get( $color, 'window.button-close' );
        }

        // .Window-button--minimize
        @include modifier( 'minimize' )
        {
            background: get( $color, 'window.button-minimize' );
        }

        // .Window-button--maximize
        @include modifier( 'maximize' )
        {
            background: get( $color, 'window.button-maximize' );
        }
    }
}