::selection {
    background: rgba( get( $color, 'background.selection' ), 0.8 );
}

hr {
    border-top: get( $layout, 'border.separator' ) get( $color, 'border.separator' );
    margin: get( $layout, 'spacing.base' ) * 2 0;
}

pre {
    border-left: get( $layout, 'border.code-block' ) get( $color, 'border.code-block' );
    background: get( $color, 'background.code-block' );
    padding: get( $layout, 'spacing.base' ) get( $layout, 'spacing.base' ) * 1.5;
}

article,
aside {
    padding: get( $layout, 'spacing.base' ) * 2 0;
}