<h3 id="configurate">Configurate</h3>
<p>After you&#39;ve installed the framework you will get </p>
<h4 id="configuring-the-framework">Configuring the framework</h4>
<pre><code class="lang-scss"><span class="hljs-at_rule">@<span class="hljs-keyword">include</span> <span class="hljs-function">Component</span>( <span class="hljs-string">'Bar'</span> )
</span>{
    <span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> blue</span></span>;
}
</code></pre>
<p>You can read more about modifiers in the documentation.</p>
<h4 id="setting-up-the-project">Setting up the project</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, doloremque doloribus enim est iusto molestiae obcaecati quibusdam ullam. A adipisci dolores est facilis libero obcaecati porro repellendus repudiandae, sequi voluptatem.</p>
<pre><code class="lang-scss"><span class="hljs-at_rule">@<span class="hljs-keyword">include</span> <span class="hljs-function">Component</span>( <span class="hljs-string">'Bar'</span> )
</span>{
    <span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> blue</span></span>;
}
</code></pre>
<p>You can read more about modifiers in the documentation.</p>
