<h3 id="explore">Explore</h3>
<p>Besides having a huge library of powerful functions that essentially extends the capabilities of Sass, and modules, to create flexible variables that has different values at different states.
Fansasstic also has a lot of mixins to make your CSS more organised. </p>
<p>If you&#39;ve used <a href="https://en.bem.info/">BEM</a> or <a href="http://oocss.org/">OOCSS</a> you&#39;ll feel right at home with Fansasstic&#39;s components.</p>
<h4 id="components">Components</h4>
<p>Components are independent blocks of CSS that can be reused in your application. They usually consists of elements, modifiers, modules and CSS rules.</p>
<pre><code class="lang-scss"><span class="hljs-comment">// Bar</span>
<span class="hljs-variable">@include</span> <span class="hljs-function">Component</span>( <span class="hljs-string">'Bar'</span> )
{
    <span class="hljs-attribute">background</span>: blue;
}
</code></pre>
<p>Which compiles down to the following CSS:</p>
<pre><code class="lang-css"><span class="hljs-class">.Bar</span> <span class="hljs-rules">{
    <span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> blue</span></span>;
}</span>
</code></pre>
<p>You can read more about components in the <a href="http://fansasstic.com/docs/components">documentation</a>.</p>
<h4 id="elements">Elements</h4>
<p>Elements are blocks of CSS that has a specific function and depend on a specific component, and therefore it cannot be used outside of the scope of the component.</p>
<pre><code class="lang-scss"><span class="hljs-comment">// Bar</span>
<span class="hljs-variable">@include</span> <span class="hljs-function">Component</span>( <span class="hljs-string">'Bar'</span> )
{
    <span class="hljs-attribute">background</span>: blue;

    <span class="hljs-comment">// Bar-icon</span>
    <span class="hljs-variable">@include</span> <span class="hljs-function">Element</span>( <span class="hljs-string">'icon'</span> )
    {
        <span class="hljs-attribute">padding-right</span>: <span class="hljs-number">20px</span>;
    }
}
</code></pre>
<p>Which compiles down to the following CSS:</p>
<pre><code class="lang-css"><span class="hljs-class">.Bar</span> <span class="hljs-rules">{
    <span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> blue</span></span>;
}</span>
<span class="hljs-class">.Bar-icon</span> <span class="hljs-rules">{
    <span class="hljs-rule"><span class="hljs-attribute">padding-right</span>:<span class="hljs-value"> <span class="hljs-number">20px</span></span></span>;
}</span>
</code></pre>
<p>You can read more about elements in the <a href="http://fansasstic.com/docs/elements">documentation</a>.</p>
<h4 id="modifiers">Modifiers</h4>
<p>Modifiers, on the other hand, are used to apply modifications to a component or element.</p>
<pre><code class="lang-scss"><span class="hljs-comment">// Bar</span>
<span class="hljs-variable">@include</span> <span class="hljs-function">Component</span>( <span class="hljs-string">'Bar'</span> )
{
    <span class="hljs-attribute">background</span>: blue;

    <span class="hljs-comment">// Bar--alert</span>
    <span class="hljs-variable">@include</span> <span class="hljs-function">Modifier</span>( <span class="hljs-string">'alert'</span> )
    {
        <span class="hljs-attribute">background</span>: red;
    }
}
</code></pre>
<p>Which compiles down to the following CSS:</p>
<pre><code class="lang-css"><span class="hljs-class">.Bar</span> <span class="hljs-rules">{
    <span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> blue</span></span>;
}</span>
<span class="hljs-class">.Bar--alert</span> <span class="hljs-rules">{
    <span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> red</span></span>;
}</span>
</code></pre>
<p>You can read more about modifiers in the <a href="http://fansasstic.com/docs/modifiers">documentation</a>.</p>
