<h3 id="install">Install</h3>
<p>Fansasstic comes with its own CLI (Command Line Interface) through Node.js that makes installing and setting up new projects a delight. To install it, run the following command in the terminal:</p>
<pre><code class="lang-mysql">npm install -<span class="hljs-keyword">g</span> fansasstic-<span class="hljs-keyword">cli</span>
</code></pre>
<p>Once the CLI is installed you can easily set up a new project using the following command:</p>
<pre><code class="lang-tex">fansasstic <span class="hljs-keyword">new</span>
</code></pre>
<p>If you&#39;re having problems, head over to the <a href="http://fansasstic.com/docs/install">install guide</a> for more information.</p>
<h4 id="boilerplate">Boilerplate</h4>
<p>After you&#39;ve installed the framework and initialised a new project you will see that the CLI has installed some dependencies through Bower and given you a boilerplate in the <em>sass</em> folder.
The boilerplate gives you some configuration files and a suggested folder structure. All the files and folders are optional, the only thing required to use Fansasstic is that you import it:</p>
<pre><code class="lang-scss"> <span class="hljs-at_rule">@<span class="hljs-keyword">import</span> <span class="hljs-string">'../bower_components/fansasstic/src/manifest'</span></span>;
</code></pre>
<p> This command is included in the boilerplate, more specifically the <strong>manifest.scss</strong> file. Note that you may have to change the path if you move the Sass files.</p>
<p> The suggested, but completely optional folder structure can be seen below. For more insight, head over to <a href="http://fansasstic.com/docs/boilerplate">the documentation</a>.</p>
