<p>Fansasstic is a Sass framework built to encourage the creation of well structured stylesheets. 
It does so by giving you powerful tools to abstract your Sass into modular nirvana, it&#39;s guaranteed you will find inner peace.
The framework has a huge collection of powerful functions and mixins that will enhance your Sass development drastically.</p>
<p>Fansasstic is not your regular CSS framework; it doesn&#39;t have a library full of predefined classes you can throw at your elements to style them automatically.
In fact, a freshly installed Fansasstic project compiles down to zero CSS. It provides tools to modularize your classes and write modern Sass, what you create is completely up to you.
Ready to give it a try?</p>
