<p>Fansasstic is a Sass framework built to encourage the creation of well structured and readable stylesheets. 
It does so by giving you powerful tools to abstract your CSS into modular nirvana. It&#39;s guaranteed you will find inner peace.
The framework has a huge collection of powerful functions and mixins that will enhance your Sass development drastically.</p>
<p>Fansasstic is not your regular framework; it doesn&#39;t have a library full of predefined classes you can throw at your elements to automatically style them.
In fact, a freshly installed Fansasstic project compiles down to zero CSS. It provides tools to write modern Sass, how and what you create is completely up to you.
Ready to give it a try?</p>
